<!-- Header Component -->
<header class="header">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-logo">
                <a href="index.html" class="logo-link">
                    <img src="assets/images/logo.png" alt="Easy Technology Services" class="logo-image">
                    <span class="logo-company-name">EASY TECHNOLOGY SERVICES</span>
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-link">Inicio</a></li>
                <li><a href="servicios.html" class="nav-link">Servicios</a></li>
                <li><a href="paquetes-web.html" class="nav-link">Paquetes Web</a></li>
                <li><a href="portafolio.html" class="nav-link">Portafolio</a></li>
                <li class="nav-item-dropdown">
                    <a href="#" class="nav-link dropdown-toggle">
                        Empresa
                        <i class="fas fa-chevron-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="nosotros.html" class="dropdown-link">Nosotros</a></li>
                        <li><a href="contacto.html" class="dropdown-link">Contacto</a></li>
                        <li><a href="blog.html" class="dropdown-link">Blog</a></li>
                        <li><a href="carreras.html" class="dropdown-link">Carreras</a></li>
                    </ul>
                </li>
            </ul>
            <div class="nav-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
</header>

